<app-navbar></app-navbar>

<div class="center-content">
    <mat-card>
        <mat-card-title>
            AGILIDAD ARITMETICA
            <hr>
        </mat-card-title>

        <h2></h2>
        <div class="formJuego ">
            <div class="container row ">

                <div class="col-md-6 ">
                    <h4>Primer Número: {{this.pNumero}}</h4>
                    <h4>Operación: {{this.sOperador}}</h4>
                    <h4>Segundo Número: {{this.sNumero}}</h4>
                </div>

                <div class="col-md-6 ">

                    <h2 [hidden]="!ocultarVerificar ">
                        <button mat-button color="primary" (click)="NuevoJuego()">Nuevo</button>
                    </h2>

                    <h2 [hidden]="ocultarVerificar ">
                        <button mat-raised-button color="warn" (click)="verificar()">Verificar {{Tiempo}}</button>
                    </h2>
                    <hr>

                    <div>
                        Respuesta: <input [(ngModel)]="this.respuesta " placeholder="ingrese numero "
                            name="numeroIngresado " type="text " class="form-control " style="width:50% " />
                    </div>
                    <hr>
                </div>

                <div class="container " style="align-content: center ">
                    <h2>
                        <p>Esperando a que te animes...</p>
                    </h2>
                </div>

            </div>
        </div>

    </mat-card>
</div>