<app-navbar></app-navbar>

<div class="center-content">
    <mat-card>
        <mat-card-title>
            AGILIDAD ARITMETICA
            <hr>
        </mat-card-title>

        <h2></h2>
        <div class="formJuego ">
            <div class="container row ">

                <div>
                    <h3>Primer Número: <b>{{this.pNumero}}</b> </h3>
                    <h3>Operación: <b>{{this.sOperador}}</b></h3>
                    <h3>Segundo Número: <b>{{this.sNumero}}</b></h3>
                </div>

                <div>

                    <h2 [hidden]="!ocultarVerificar ">
                        <button mat-button color="primary" (click)="NuevoJuego()">Nuevo</button>
                    </h2>

                    <h2 [hidden]="ocultarVerificar ">

                        <button mat-raised-button color="primary" *ngIf="!ultimaChance" (click)="verificar()">Verificar
                            {{Tiempo}}</button>
                        <button mat-raised-button color="accent" *ngIf="ultimaChance" (click)="verificar()">Ultima
                            Chance</button>
                    </h2>
                    <hr>

                    <div>
                        Respuesta: <input [(ngModel)]="this.respuesta " placeholder="ingrese numero "
                            name="numeroIngresado " type="text " class="form-control " style="width:50% " />
                    </div>
                    <hr>
                </div>

            </div>
        </div>

    </mat-card>
</div>
<app-puntuacion [puntuacion]="puntuacion" [juegoStore]='juegoStore'></app-puntuacion>