.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image:  url('../../../assets/utn.png');
    background-size: cover;
  }

  .container{
    width: 70%;   
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: -webkit-center;
  }
