.center-content{
    width: 30%;   
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: -webkit-center;
  }

.max-score{
  margin: 20px auto;
  position: relative;
  text-align: -webkit-center;
  border-style: solid;
  border: 2px solid rgb(54, 117, 235);
  border-radius: 8px;
}