.content { 
    padding: 12px; 
    text-align: -webkit-center;
  }

  .center-content{
    width: 40%;   
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: -webkit-center;
  }
