<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>
        <mat-icon>eco</mat-icon> Sala de Juegos
    </span>

    <div class="spacer"></div>

    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="games/anagrama">Anagrama</a>
    <a mat-button routerLink="games/ppt">PPT</a>
    <a mat-button routerLink="games/agilidadNum">Agilidad Aritmética</a>
    <a mat-button routerLink="games/adivinaNum">Adivinar Número</a>
    <a mat-button routerLink="games/tateti">Tateti</a>
    <a mat-button routerLink="games/memotest">Memotest</a>
    <a mat-button routerLink="about"> About Us</a>
    <!--   <a mat-raised-button color="accent">Sign Up</a> -->
</mat-toolbar>