.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .center-content{
    width: 50%;   
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: -webkit-center;
  }
