app-celda{
    height: 10vw;
    width:10vw;
}

mat-grid-list{
    width: 30vw;
    height: 30vw;
}

.grid{
    height: 30vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: center;
}

.center-content{
    width: 50%;   
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: -webkit-center;
  }
