<app-navbar></app-navbar>
<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <div class="container">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let juego of listJuegos">

                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>{{juego.nombre}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image [src]="juego.src" [routerLink]="juego.path">
                </mat-card>

            </div>
        </div>


    </div>

</div>