<app-navbar></app-navbar>

<div class="center-content">

    <mat-card>
        <mat-card-title>
            Piedra, Papel o Tijera
            <hr>
        </mat-card-title>
        <div id="usuario">
            <b>Usuario</b>
            <div class="divOpciones">
                <button mat class="opciones" (click)="jugar(0)"><img draggable="false" src="assets/piedra.PNG"></button>
            </div>
            <div class="divOpciones">
                <button class="opciones" (click)="jugar(1)"><img draggable="false" src="assets/papel.PNG"></button>
            </div>
            <div class="divOpciones">
                <button class="opciones" (click)="jugar(2)"><img draggable="false" src="assets/tijera.PNG"></button>
            </div>
        </div>

        <div id="centro">
            <b> Ronda: {{jugadas}}/{{ronda}} </b>
            <div class="divOpciones">
                <p>Usuario:</p>
                <button disabled class="elegido">
                    <img class="resultado" draggable="false" [src]="usuario">
                </button>
            </div>
            <div class="divOpciones">
                <p>PC:</p>
                <button disabled class="elegido"><img class="resultado" draggable="false" [src]="IA"></button>
            </div>
            <p><b>Resultado: {{resultado}}</b></p>
        </div>

        <div id="ia">
            <b>PC</b>
            <div class="divOpciones">
                <button class="opciones" disabled><img draggable="false" src="assets/piedra.PNG"></button>
            </div>
            <div class="divOpciones">
                <button class="opciones" disabled><img draggable="false" src="assets/papel.PNG"></button>
            </div>
            <div class="divOpciones">
                <button class="opciones" disabled><img draggable="false" src="assets/tijera.PNG"></button>
            </div>
        </div>
    </mat-card>

</div>

<app-puntuacion [puntuacion]="puntuacion" [juegoStore]='juegoStore' [nombreJuego]='nombreJuego'></app-puntuacion>