#usuario{
    width: 30%;
    //background-color: rgb(221, 184, 255);
    display: inline-block;
}

#centro{
    width: 20%;
    display: inline-block;
}

#ia{
    width: 30%;
    //background-color: rgb(199, 139, 255);
    display: inline-block;
}

img{
    width: 50%;
    height: auto;
}

img.resultado{
    width: 50%;
}

button.opciones{
    width: 50%;
    background-color:white;
}

button.opciones:hover{
    background-color: whitesmoke;
}

button.elegido{
    width: 10vw;
    height: 10vw;
}

.divOpciones{
    padding-top: 10px;
    padding-bottom: 10px;
}

.center-content{
    width: 70%;   
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: -webkit-center;
  }