.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 10px;
    margin-top: 40px;
  }
  
  .example-full-width {
    width: 100%;
   
  }
  .center-content{
    width: 50%;   
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: -webkit-center;
  }
