<app-navbar></app-navbar>

<div class="center-content">
    <mat-card>
        <mat-card-title>
            ANAGRAMA
            <hr>
        </mat-card-title>

        <mat-list>
            <mat-list-item>
                <h1>La palabra a ordenar es : <b>{{palabraDesordenada}}</b></h1>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <h3 *ngIf="palabra != '' ">Empieza con <b>{{primerLet}}</b> y termina con
                    <b>{{ultimaLet}}</b></h3>
            </mat-list-item>
        </mat-list>

        <form class="example-form" *ngIf="showInput">
            <mat-form-field class="example-full-width">
                <mat-label>Palabra</mat-label>
                <input type="text" matInput placeholder="Ingresa la palabra ordenada" [(ngModel)]="palabraIngresada"
                    name="palabraIngresada">
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="comparar()" *ngIf="showInput">Enviar palabra!</button>
        </form>

        <button mat-raised-button color="primary" (click)="cargarPalabra()" *ngIf="!showInput">¡Empezar!</button>
    </mat-card>
</div>
<app-puntuacion [puntuacion]="puntuacion" [juegoStore]='juegoStore' [nombreJuego]='nombreJuego'></app-puntuacion>