<app-navbar></app-navbar>

<div class="center-content">
    <mat-card>
        <mat-card-title>
            ADIVINA EL NUMERO
            <hr>
        </mat-card-title>

        <h2></h2>
        <form name="juego">

            <label>
                <h2><b>Ingrese numero:</b></h2>
            </label> <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado"
                type="text" class="form-control" style="width:50%" />
            <h1>{{nuevoJuego.numeroIngresado}} </h1>



            <button [hidden]="ocultarVerificar" mat-raised-button color="warn" *ngIf="nuevoJuego.numeroSecreto!=0"
                (click)="verificar()">
                Verificar</button>

            <button mat-raised-button color="primary" *ngIf="nuevoJuego.numeroSecreto==0" (click)="generarnumero()">
                Nuevo Número</button>


        </form>

    </mat-card>
</div>
<app-puntuacion [puntuacion]="puntuacion" [juegoStore]='juegoStore'></app-puntuacion>