.example-card {
     height: 15vh;
     width: 9vh;
  }
  
.example-header-image {
    background-size: cover;
  }

img{
    height: 9vw; //en vh
    width: 12vh;
}


 
/* 
.card-container {
    width: auto;
    height: 12vw;
}

.flippable-card .front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.flippable-card .back {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY( 180deg );
    background-size: cover;
}

.flippable-card.flipped {
    transform: rotateY( 180deg );
}

img{
    height: 12vh; //en vh
    width: auto;
}
.content > mat-card { 
    width: 200px; 
  } */